.body-main ,html{
    padding: 0;
    min-height: 100%;
    overflow-x: hidden;
}

.body-main{
    font-family: sans-serif;
}

main{
    margin: 3vh;
}

.title{
    font-size: 25px;
    color:#fff;
    font-weight: bold;
    margin-bottom: 25px;
}

.item{
    margin: 40px 10px;
    background-color: #fff;
    box-shadow: 0 15px 35px #3232321a,0 5px 15px #0000001a;
    transform: translate3d(0,-1px,0);
}


.item-image {
    height: 200px; /* ou 250px selon ton design */
    overflow: hidden;
    display: flex;
    align-items: center;
    justify-content: center;
}

.item-image img {
    width: 100%;
    height: 100%;
    object-fit: cover;
    border-radius: 1em 1em 0 0;
}


.card-horizontal .item-image {
    height: unset; /* ou 250px selon ton design */
    width: 40%;
    
    max-height: 50vh;
    flex-shrink: 0;
}

.card-horizontal .item-image img {
    width: 100%;
    height: 100%;
    object-fit: cover;
    border-radius: 1em 0 0 1em;
}


.item-body {
    padding: 15px 25px 25px 40px;
}

.item-body > div{
    margin: 0.8em 0 0 0;
}

.item-title{
    font-size: 24px;
    margin-bottom: 5px;
    font-weight: bold;
    color: #232323;

}

.item-description{
    color: #585858;
}

.items{
    position: relative;
}

.caroussel{
    position: relative;

}

.caroussel-container{
    display: flex;
    transition: transform 0.3s;
    transform: translate3d(0,0,0);

}

.caroussel-container::after{
    content:'';
    clear: both;
    display: table;

}

.caroussel-item{
    float: left;
    margin: 40px 10px;
    background-color: #fff;
    box-shadow: 0 15px 35px #3232321a,0 5px 15px #0000001a;
    transform: translate3d(0,-1px,0);
    border-radius: 1em;
}

.card-vertical-item{
    margin: 40px 10px;
    background-color: #fff;
    box-shadow: 0 15px 35px #3232321a,0 5px 15px #0000001a;
    transform: translate3d(0,-1px,0);
    border-radius: 1em;
}

.card-horizontal-item{
    margin: 40px 10px;
    background-color: #fff;
    box-shadow: 0 15px 35px #3232321a,0 5px 15px #0000001a;
    transform: translate3d(0,-1px,0);
    border-radius: 1em;
}

.caroussel-next, .caroussel-prev{
    position: absolute;
    width: 40px;
    height: 40px;
    background: #fff url(../images/icons/chevron-right.svg) center center no-repeat ;
    background-size: 32px 32px;
    border-radius: 50%;
    top:50%;
    margin-top: -20px;
    right: -20px;
    box-shadow: 0 15px 35px #3232321a,0 5px 15px #0000001a;
    cursor:pointer;
    transition: transform 0.3s, opacity 0.3s;
    z-index: 10;
}

.caroussel-prev{
    right: auto;
    left: -20px;
    background-image:url(../images/icons/chevron-left.svg) ;
}


.caroussel-next::hover, .caroussel-prev::hover{
    transform: scale(1.2);
}

.caroussel-prev--hidden{
    opacity: 0;
}
.caroussel-next--hidden{
    opacity: 0;
}

.caroussel-pagination{
    position: absolute;
    bottom:0;
    left:0;
    right: 0;
    text-align: center;
    display: none;
}

.caroussel-pagination-button{
    background-color: #005CE6;
    width: 10px;
    height: 10px;
    border-radius: 50%;
    display: inline-block;
    margin: 0 3px;
    box-shadow: 0 2px 5px  #3232321a, 0 5px 15px #0000001a;
    transition:transform 0.3s ;
    cursor: pointer;

}

.caroussel-pagination-button--active,.caroussel-pagination-button:hover{
    transform: scale(1.4);
}

.container-nouveautes{
    margin-top:3vh;
    width: 100%;
    
}



.card-horizontal{
    display: flex;
    flex-direction: row;
    margin: 5vh 0;
    border-radius: 1em;
    box-shadow: 0 15px 35px #3232321a,0 5px 15px #0000001a;
}


.item-location > p{
    display: inline-flex;
}
.item-avis{
    display: inline-flex;
    align-items: center;
}
.item-avis > p{
    margin: 4px;
}

.item-tag  svg{
    margin-left: 1em;
}
/*
.item-tag > span{
    display: inline-flex;
    align-items: center;
    margin: 4px;
    background-color:#CAE9FF ;
    border: solid white 1px ;
    border-radius: 2em;
    
}*/

.item-tag {
  display: flex;
  flex-wrap: wrap;
  gap: 0.5em;
  
}

.item-tag > span {
  display: inline-flex;
  align-items: center;
  background-color: #CAE9FF;
  border: solid white 1px;
  border-radius: 2em;
  
  font-size: clamp(0.7rem, 1vw, 1rem); /* 👈 S'adapte à la taille écran */
  max-width: 200px;
}

.item-tag > span > img{
    margin:  1em;
}

.item-tag > span > p{
    margin:  1em;
    
}

.tel-card{
    display: inline-flex;
    align-items: center;
    margin: 1vh;

}

.tel-card p{
    margin-left:1vh ;
    margin-right:1vh ;
    margin-top:0 ;
    margin-bottom:0 ;
    
}



.front-office-main {
    position: relative;
    width: 100%;
    display: flex;
    height: 60vh;
    margin-bottom: 10vh;
}


/* header complet au dessus de la video */
.front-office-main > div {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: center;
    width: 100%;
}

/* logo */
#logo-navbar {
    position: absolute;
    left: 0;
    margin: 0 15px;
}

/* nav bar */
.front-office-main > div > nav {
    display: flex;
    justify-content: center;
    align-items: center;
    z-index: 2;
}

/* liste des liens dans la navbar */
.front-office-main > div > nav > ul {
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    list-style-type: none;
    padding: 0;
    color: #fff;
}

.front-office-main > div > nav > ul > li {
    margin: 0 1.5em;
    font-size: 1.2em;
}

/* profil navbar */
#profil-navbar {
    position: absolute;
    right: 0;
    display: flex;
    align-items: center;
    z-index: 2;
    margin: 0 15px;
}

.front-office-main a {
    color: white;
    text-decoration: none;
}

.front-office-main a:visited {
    color: white;
}

/* Barre de recherche */
.front-office-main .search-row {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
  gap: 10px;
  border: 1px solid var(--main-color);
  border-radius: 50px;
  padding: 5px;
  /* min-width: 500px; */
  /* max-width: 800px; */
  background-color: white;
}

.front-office-main .search-row input {
  border: none;
  width: 300px;
  font-size: 16px;
  padding: 0 10px;
}

.front-office-main .search-row input:focus {
  border: none;
}

.front-office-main .search-icon {
  width: 25px;
  height: 25px;
  background-color: grey;
  padding: 4px;
  border-radius: 50%;
  border: none;
}

.front-office-main .container-search-funnel {
  display: flex;
  flex-direction: column;
  justify-content: flex-end;
}

.front-office-main .search-container {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  transform: translateY(3vh);
}

#searchbar {
    width: 20vw;
    height: 40px;
    padding-left: 10px;
    font-size: larger;
    background-color: rgba(0, 0, 0, 0);
    transition: all 0.3s ease-in-out;
}

#searchbar:focus {
    width: 30vw;
    outline: none;
}

#search-button {
    background-color: #005CE6;
    cursor: pointer;
}

#search-button:disabled {
    background-color: #585858;
    cursor: normal;
}

/* #search-button {
    border: none;
    border-radius: 25%;
    background-color: #005CE6;
    color: white;
    font-size: 12px;
    padding: 10px;
    transform: translateX(-50px);
} */

/* #search-button svg {
    background: #005CE6;
} */

.video-header {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  object-fit: cover;
  z-index: -1;
}

header a img{
    border-radius: 50%;
}
* {
  box-sizing: border-box;
}

.welcome-text-fo{
    background-color: rgba(0, 92, 230, 0.6);
    color: #fff;
    z-index: 5;
    padding: 1vh;
    font-size: 5vh;
}

.title-container {
    display: flex;
    text-align: center;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.discover-text-fo{
    color: #fff;
    z-index: 5;
    font-size: 5vh;
}

.recommended{
    background-color: #005CE6;
    color: #fff;
    position: absolute;
    z-index: -1;
    border-radius: 1em 1em 0 0;
    bottom: 96%;
    left: 5%;
    width: fit-content;
    padding: 5px 1em 1em 1em;
    font-size: 1.10em;
}

.recommended > div{
    display: inline-flex;
    align-items: center;
    justify-content: center;
    
}

.recommended p{
    margin: 0 1.10em 0.5em 0 ;
    
}
.recommended svg{
    margin: 0 1.10em 0.5em 1.10em ;
    
}

.recommended-horizontal{
    background-color: #005CE6;
  color: #fff;
  border-radius: 1em 1em 0 0;

  position: absolute;
  
  z-index: -1; 
  width: fit-content;
  height: 40px; 
  transform: translateY(-30px);
  padding: 0 0.2em 1.10em 1.10em;
}

.recommended-horizontal >div{
    display: inline-flex;
    align-items: center;
    justify-content: center;
    
}

.recommended-horizontal p{
    margin: 0 1.10em 0 1.10em;
}

.container-caroussel{
    max-width: 100%;
}
.a-card{
    width: 80%;
}

.profil {
    margin: 5px;
    width: 100%;
    height: 70px;
    gap: 10px;
    border-radius: 50%;
    display: flex;
    flex-direction: row;
    justify-content: end;
    align-items: center;
}

.profil svg {
    width: 40px;
    height: 40px;
}

@media screen and (min-width:800px) {
    .caroussel-pagination{
        display: block;
    }
    
}

@media screen and (max-width:650px) {
    .welcome-text-fo{
        right: 20%;
    }
    .discover-text-fo{
        right: 20%;
    }

    .front-office-main ul{
        display: none;
    }
}

@media screen and (max-width:500px) {
    .welcome-text-fo{
        right: 0;
        left: 0;
        text-align: center;
    }
    .discover-text-fo{
        text-align: center;
    }

    #searchbar {
        width: 50vw;
        height: 20px;
    }

    h1 {
        font-size: 30px;
    }

    .recommended {
        bottom: 97%;
    }

    #searchbar:focus {
        width: 70vw;
    }
} 