:root {
    --input-color: #A5A3A3;
}

label {
    font-size: 20px;
    color: var(--input-color);
    margin-bottom: 0.5em;
    text-transform: uppercase;
    letter-spacing: 0.1em;
    transform: translate(50px, 24px);
    background-color: var(--backgroud-color);
    width: fit-content;
    padding: 0 10px;
}

input[type="text"],
input[type="email"],
input[type="password"],
input[type="number"],
input[type="tel"] {
    width: 100%;
    padding: 15px 20px;
    border: 2px solid var(--input-color);
    border-radius: 1.8em;
    font-size: 32px;
    color: var(--main-text-color);
    background-color: var(--backgroud-color);
    outline: none;
    transition: background-position 0.8s ease-out;
}