/* Offre Detaillée */
.offre-detaille-front h4{
    font-size: 13px;
}

.offre-detaille-front h3{
    font-size: 15px;
    font-weight: 400;
}

.offre-detaille-front h2{
    font-size: 30px;
    margin: 10px;
}

/* Fil d'Arianne */
.offre-detaille-front .breadcrumb-container {
    display: flex;
    align-items: center;
    gap: 1rem;
    margin: 5vh;
}

.offre-detaille-front .breadcrumb-back {
    height: 2vh;
    cursor: pointer;
}

.offre-detaille-front .breadcrumb ul {
    display: flex;
    align-items: center;
    list-style: none;
    padding: 0;
    margin: 0;
    font-family: 'lexenDeca', sans-serif;
    font-size: 18px;
    color: var(--textColor);
}

.offre-detaille-front .breadcrumb li {
    display: flex;
    align-items: center;
}

.offre-detaille-front .breadcrumb li:not(:last-child)::after {
    content: "→";
    margin: 0 0.5rem;
    color: var(--main-text-grey);
}

.offre-detaille-front .breadcrumb a {
    text-decoration: none;
    color: var(--textColor);
}

.offre-detaille-front .breadcrumb a:hover {
    text-decoration: underline;
}

.offre-detaille-front ul{
    list-style: none;
    padding: 0;
    margin: 0;
}

.offre-detaille-front section{
    margin: 5%;
}

.offre-detaille-front figcaption h2{
    margin: 30px;
    font-size: 45px;
}

.offre-detaille-front h3{
    font-size: 30px;
    margin: 10px 0;
}

.offre-detaille-front h4{
    font-size: 20px;
    margin: 0;
}

/* Profil Pro */
.offre-detaille-front .pp-pro {
    display: flex;
    align-items: center;
    gap: 1rem;
    margin: 50px 50px;
    
}

.offre-detaille-front #pp-pro{
    border-radius: 50px;
    height: 10vh;
    width: auto;
}

.offre-detaille-front .pp-pro p{
    font-size: 13px;
    color: var(--main-text-grey);
}

/* Notes */
.offre-detaille-front .note{
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    gap: 1vh;
    margin: 0 50px;
}

.offre-detaille-front .star-container > svg{
    color: var(--main-star-yellow);
    height: 40px;
    width: auto;
}

/* Resumer et Description */
.offre-detaille-front .description{
    margin: 10px 30px;
}

.offre-detaille-front .description div{
    margin: 50px 0;
}

/*Infos */
.offre-detaille-front .info{
    margin: 50px 30px;
}

/* Informations Pratiques */
.offre-detaille-front .info-pratique{
    display: flex;
    align-items: center;
    gap: 10px;
    margin: 10px 0;
}

.offre-detaille-front .info ul{
    margin: 30px 0;
}

.offre-detaille-front .info-pratique > img{
    height: 20px;
    width: auto;
}

.offre-detaille-front .info-pratique figcaption h3{
    font-size: 20px;
}

.offre-detaille-front p{
    font-size: 20px;
    color: var(--main-text-color);
}

.offre-detaille-front .offre{
    margin: 0;
}

.offre-detaille-front section > article:nth-of-type(2) {
    display: flex;
    justify-content: start;
    gap: 300px;
}


/* Tags */
.offre-detaille-front .tags{
    display: flex;
    justify-content: center;
    margin: 100px;
}

.offre-detaille-front .tag-list{
    display: flex;
    list-style: none;
    padding: 0;
    margin: 0;
    justify-content: space-between;
    gap: 20px;
}

.offre-detaille-front .tag-container{
    display: flex;
    align-items: center;
    background-color: var(--main-color-light);
    border-radius: 15px;
    margin: auto;
    padding: 5px 10px;
    box-shadow: 4px 4px 4px rgba(0, 0, 0, 0.1);
}

.offre-detaille-front .tag-container > svg{
    height: 30px;
    width: auto;
}

/* GRID IMAGE */
.grid-images {
    display: grid;
    grid-template-columns: repeat(8, 1fr);
    grid-template-rows: repeat(4, 1fr);
    grid-column-gap: 10px;
    grid-row-gap: 10px; 
    max-width: 100vw;
}

.grid-images img {
    width: 100%;
    height: 100%;
    object-fit: cover;
    display: block;
    border-radius: 6px;
}

/* Grande image à gauche sur 3 lignes */
.grid-images img:nth-child(1) {grid-area: 1 / 1 / 6 / 5;}

/* Images à droite en mosaïque */
.grid-images img:nth-child(2) { grid-area: 1 / 5 / 3 / 7; }
.grid-images img:nth-child(3) { grid-area: 1 / 7 / 3 / 9; }
.grid-images img:nth-child(4) { grid-area: 3 / 5 / 5 / 7; }
.grid-images img:nth-child(5) { grid-area: 3 / 7 / 5 / 9; }

/* Media query Mobile */
@media (max-width: 800px) {
    /* Titre */
    .offre-detaille-front h2{
        font-size: 25px;
        margin: 1vh 0 3vh 2vh;
    }

    .offre-detaille-front h3{
        font-size: 20px;
        margin: 10px 0;
    }

    .offre-detaille-front h4{
        font-size: 15px;
        margin: 0;
    }

    /* Profil Pro */
    .offre-detaille-front .pp-pro {
        display: flex;
        align-items: center;
        gap: 1rem;
        margin: 20px 20px;
    }
    .offre-detaille-front #pp-pro{
        border-radius: 50px;
        height: 5vh;
        width: auto;
    }

    .offre-detaille-front .pp-pro p{
        font-size: 13px;
        color: var(--main-text-grey);
    }

    /*Notes */
    .offre-detaille-front .pp-pro + div{
        display: none;
    }

    /* Informations Pratiques */
    .offre-detaille-front .info{
        margin: 2vh 0;
    }

    .offre-detaille-front p{
        font-size: 10px;
        color: var(--main-text-color);
    }

    .offre-detaille-front .offre{
        margin: 0;
    }

    .offre-detaille-front h2{
        margin: 2vh 0;
    }
}