/* 
Organisation :
    - Definition des variables CSS
    - Définition des polices d'écriture
    - Body
    - Header
    - Footer
    - OffreDetaillée
*/


/* Definition des variables CSS */
:root {
    --main-color: #005CE6;
    --main-color-light: #CAE9FF;
    --main-text-color: #011B43;
    --main-text-grey: #A5A3A3;
    --main-star-yellow: #FFCA43;

    --footer-light-text-color: #b2cef7;

    --hr-color: #A5A3A369;
    
}


/* Definition des polices d'ecritures */
@font-face {
    font-family: 'lexenDeca';
    src: url('fonts/Lexend_Deca/LexendDeca-VariableFont_wght.ttf') format('truetype');
}

/* Body */

body {
    margin: 0;
    padding: 0;
    font-family: 'Roboto', sans-serif;
    font-size: 18px;
    color: var(--main-text-color);
}

h1, h2, h3, h4, h5, h6 {
    font-family: 'lexenDeca', sans-serif;
    font-weight: normal;
}

hr{
    color: var(--hr-color);
}



/* Footer */

footer {
    display: flex;
    flex-direction: column;

    background-color: var(--main-color);
    color: white;

    padding: 4vh 20vw;
}

footer.back-office {
    padding: 4vh 10vw;
}

footer ul {
    list-style-type: none;
    padding: 0;
}

/* Footer Logo */
footer img {
    margin-right: 6vw;
    width: 200px;
    height: 200px;
}

footer h6 {
    font-family: Roboto;
    font-size: 16px;
    font-weight: bold;
    margin: 0;
}

footer li {
    margin: 3vw 0;
}

footer a {
    text-decoration: none;
    color: var(--footer-light-text-color);
    font-family: Roboto;
    font-size: 14px;
    font-weight: normal;
}

footer > div {
    display: flex;
    justify-content: flex-start;
    align-items: flex-start;
}

footer > div > div {
    margin-right: 6vw;

    display: flex;
    flex-direction: column;
    align-items: flex-start;
}

footer.back-office > div > div {
    margin-right: 20vw;

    display: flex;
    flex-direction: column;
    align-items: flex-start;
}

footer.back-office > div > div:last-child {
    margin-right: 0;
}

footer hr {
    width: 100%;
    border: 0;
    border-top: 1px solid #4085ec;
    margin: 2vh 0;
}

/* Media Queries */

@media (max-width: 768px) {
    footer {
        padding: 1vh 5vw;
    }

    footer > div {
        justify-content: space-between;
    }

    footer img {
        align-self: center;
        width: 55px;
        height: 55px;
    }

    footer h6 {
        font-size: 16px;
    }

    footer ul {
        margin: 0;
    }

    footer li {
        margin: 2vw 0;
    }

    footer a {
        font-size: 10px;
    }

    footer hr {
        margin: 1vh 0;
    }
}



/* desktop */
header.back-office {
    background-color: #005CE6;
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 10px;
    flex-wrap: wrap;
}

header.back-office .logo img {
    width: 100px;
    height: auto;
}

header.back-office .header-droit a p {
    /*font-family:'roboto';*/
    
}
header.back-office h1 {
    /*font-family:'lexend-deca';*/
    
}

header.back-office h1 {
    color: white;
    margin: 0;
    text-align: center;
}

header.back-office .header-droit {
    display: flex;
    align-items: center;
    gap: 24px;
    margin-left: auto;
}

header.back-office .header-droit a {
    color: white;
    display: flex;
    align-items: center;
    gap: 8px;
    text-decoration: none;
}

header.back-office .header-droit img {
    width: 40px;
    height: auto;
}



/* Offre Detaillée */

.offre-detaille-front h4{
    font-size: 13px;
}

.offre-detaille-front h3{
    font-size: 15px;
    font-weight: 400;
}

/* Fil d'Arianne */
.offre-detaille-front .breadcrumb-container {
    display: flex;
    align-items: center;
    gap: 1rem;
    margin: 5vh;
}

.offre-detaille-front .breadcrumb-back {
    height: 2vh;
    cursor: pointer;
}

.offre-detaille-front .breadcrumb ul {
    display: flex;
    align-items: center;
    list-style: none;
    padding: 0;
    margin: 0;
    font-family: 'lexenDeca', sans-serif;
    font-size: 18px;
    color: var(--textColor);
}

.offre-detaille-front .breadcrumb li {
    display: flex;
    align-items: center;
}

.offre-detaille-front .breadcrumb li:not(:last-child)::after {
    content: "→";
    margin: 0 0.5rem;
    color: var(--main-text-grey);
}

.offre-detaille-front .breadcrumb a {
    text-decoration: none;
    color: var(--textColor);
}

.offre-detaille-front .breadcrumb a:hover {
    text-decoration: underline;
}

.offre-detaille-front ul{
    list-style: none;
    padding: 0;
    margin: 0;
}

.offre-detaille-front section{
    margin: 20px;
}


.offre-detaille-front h2{
    margin: 1vh 0 3vh 2vh;
    font-size: 45px;
}

.offre-detaille-front h3{
    font-size: 30px;
    margin: 10px 0;
}

.offre-detaille-front h4{
    font-size: 20px;
    margin: 0;
}

/* Offre Image */
.offre-detaille-front .offre-image-container{
    display: flex;
    gap: 1vh;
    margin: 1vh;
}

.offre-detaille-front .offre-image {
    height: 50vh;
}

.offre-detaille-front .offre-image-container{
    display: flex;
    gap: 2vh;
    margin: 2vh;
}

.offre-detaille-front .gallery-offre-parent{
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    flex: 1;
    gap: 5%;
}

.offre-detaille-front .gallery-offre-parent img{
    height: 100%;
    object-fit: contain; /* préserve le ratio sans crop */
}

.offre-detaille-front .grid-offre-1,
.offre-detaille-front .grid-offre-2,
.offre-detaille-front .grid-offre-3,
.offre-detaille-front .grid-offre-4{
    height: 150px
}


/* Profil Pro */
.offre-detaille-front .pp-pro {
    display: flex;
    align-items: center;
    gap: 1rem;
    margin: 1vh;
}

.offre-detaille-front #pp-pro{
    border-radius: 50px;
    height: 10vh;
    width: auto;
}

.offre-detaille-front .pp-pro p{
    font-size: 13px;
    color: var(--main-text-grey);
}

/* Notes */
.offre-detaille-front .pp-pro + div{
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    gap: 1vh;
}

.offre-detaille-front .star-container > svg{
    color: var(--main-star-yellow);
    height: 40px;
    width: auto;
}

.offre-detaille-front .info{
    margin: 5vh;
}

/* Informations Pratiques */
.offre-detaille-front .info-pratique{
    display: flex;
    align-items: center;
    gap: 10px;
    margin: 10px 0;
}

.offre-detaille-front .info-pratique > img{
    height: 20px;
    width: auto;
}

.offre-detaille-front p{
    font-size: 20px;
    color: var(--main-text-color);
}

.offre-detaille-front .offre{
    margin: 0;
}

.offre-detaille-front section > article:nth-of-type(2) {
    display: flex;
    justify-content: space-between;
    padding: 10px;
}

@media (max-width: 1450px){
    .offre-detaille-front .gallery-offre-parent img{
        height: 15vh;
        object-fit: contain; /* préserve le ratio sans crop */
    }

    .offre-detaille-front .gallery-offre-parent img{
        height: 19vh;
        object-fit: contain; /* préserve le ratio sans crop */
    }

}


/* Media query Mobile */
@media (max-width: 800px) {
    /* Titre */
    .offre-detaille-front h2{
        font-size: 25px;
        margin: 1vh 0 3vh 2vh;
    }

    .offre-detaille-front h3{
        font-size: 20px;
        margin: 10px 0;
    }

    .offre-detaille-front h4{
        font-size: 15px;
        margin: 0;
    }


    /* Offre Image */
    .offre-detaille-front .offre-image {
        height: 30vh;
        width: auto;
    }

    .offre-detaille-front .offre-image-container{
        margin: 0;
    }

    .offre-detaille-front .main-image-container{
        width: 100%;
    }

    .offre-detaille-front .gallery-offre-parent{
        display: none;
    }


    /* Profil Pro */
    .offre-detaille-front #pp-pro{
        border-radius: 50px;
        height: 5vh;
        width: auto;
    }

    .offre-detaille-front .pp-pro p{
        font-size: 13px;
        color: var(--main-text-grey);
    }

    /*Notes */
    .offre-detaille-front .pp-pro + div{
        display: none;
    }

    /* Informations Pratiques */
    .offre-detaille-front .info{
        margin: 2vh 0;
    }

    .offre-detaille-front p{
        font-size: 10px;
        color: var(--main-text-color);
    }

    .offre-detaille-front .offre{
        margin: 0;
    }

    .offre-detaille-front h2{
        margin: 2vh 0;
    }


}