/* 
Organisation :
    - Definition des variables CSS
    - Définition des polices d'écriture
    - Body
    - Header
    - Footer
    - Inputs

    - Back-Office
        - Informations Personnelles
*/


/* Definition des variables CSS */
:root {
    --backgroud-color: white;

    --main-color: #005CE6;
    --main-color-light: #CAE9FF;
    --main-text-color: #011B43;

    --input-color: #A5A3A3;

    --footer-light-text-color: #b2cef7;
}


/* Definition des polices d'ecritures */
@font-face {
    font-family: 'lexenDeca';
    src: url('fonts/Lexend_Deca/LexendDeca-VariableFont_wght.ttf') format('truetype');
}

/* Body */

body {
    margin: 0;
    padding: 0;
    font-family: 'Roboto', sans-serif;
    font-size: 18px;
    color: var(--main-text-color);
}


/* Header */
header.front-office{
    display: flex;
    align-items: center;
    justify-content: space-between;
    box-shadow: 0 2px 5px rgba(0, 0, 0, 0.1);
    padding: 2vh;
}

header.front-office > nav > ul{
    display: flex;
    list-style: none;
}

header.front-office > nav > ul > li{
    padding: 0 10vh;
    color: var(--main-text-color);
    font-size: 40px;
    font-family: 'lexenDeca', sans-serif;
}

header.front-office > div > img, header.front-office > a > svg:last-child{
    height: 10vh;
    width: auto;
    color: var(--main-color);
}


header.front-office > div > svg, header.front-office > div > h1{
    display: none;
}

a{
    text-decoration: none;
    color: var(--main-text-color);
}

a:hover{
    text-decoration: underline;
}


@media (max-width: 728px) {

    header.front-office{
        padding: 2vh ;
    }

    header.front-office > div > h1{
        display: contents;
        color: var(--main-text-color);
        font-family: 'lexenDeca', sans-serif;
        font-weight: normal;
    }

    header.front-office > nav {
        display: none;
    }

    header.front-office > nav.active {
        display: flex;
        position: absolute;
        background-color: white;
        top: 10vh;
        left: 0;
        width: 100%;
    }

    header.front-office > nav.active > ul{
        display: flex;
        flex-direction: column;
        list-style: none;
        padding: 0;
        margin: 0;
        width: 100%;
    }

    header.front-office > nav.active > ul > li{
        padding: 2vh;
        text-align: left;
        color: var(--main-text-color);
        font-size: 20px;
        font-family: 'lexenDeca', sans-serif;
        border-top: 1px solid lightgray;
    }

    header.front-office > div:first-child {
        display: flex;
        align-items: center;
    }

    /* le burger */
    header.front-office > div > svg:first-child {
        display: block;
        height: 3vh;
        width: auto;
    }

    /*le logo*/
    header.front-office > div > img{
        height: 5vh;
        width: auto;
    }

    /*l'icone de profil*/
    header.front-office > a > svg:last-child{
        height: 4vh;
        width: auto;
        color: var(--main-color);
    }
}

/* Footer */

footer {
    display: flex;
    flex-direction: column;

    background-color: var(--main-color);
    color: white;

    padding: 4vh 20vw;
}

footer.back-office {
    padding: 4vh 10vw;
}

footer ul {
    list-style-type: none;
    padding: 0;
}

/* Footer Logo */
footer img {
    margin-right: 6vw;
    width: 200px;
    height: 200px;
}

footer h6 {
    font-family: Roboto;
    font-size: 16px;
    font-weight: bold;
    margin: 0;
}

footer li {
    margin: 3vw 0;
}

footer a {
    text-decoration: none;
    color: var(--footer-light-text-color);
    font-family: Roboto;
    font-size: 14px;
    font-weight: normal;
}

footer > div {
    display: flex;
    justify-content: flex-start;
    align-items: flex-start;
}

footer > div > div {
    margin-right: 6vw;

    display: flex;
    flex-direction: column;
    align-items: flex-start;
}

footer.back-office > div > div {
    margin-right: 20vw;

    display: flex;
    flex-direction: column;
    align-items: flex-start;
}

footer.back-office > div > div:last-child {
    margin-right: 0;
}

footer hr {
    width: 100%;
    border: 0;
    border-top: 1px solid #4085ec;
    margin: 2vh 0;
}

/* Media Queries */

@media (max-width: 768px) {
    footer {
        padding: 1vh 5vw;
    }

    footer > div {
        justify-content: space-between;
    }

    footer img {
        align-self: center;
        width: 55px;
        height: 55px;
    }

    footer h6 {
        font-size: 16px;
    }

    footer ul {
        margin: 0;
    }

    footer li {
        margin: 2vw 0;
    }

    footer a {
        font-size: 10px;
    }

    footer hr {
        margin: 1vh 0;
    }
}



/* desktop */
header.back-office {
    background-color: #005CE6;
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 10px;
    flex-wrap: wrap;
}

header.back-office .logo img {
    width: 100px;
    height: auto;
}

header.back-office .header-droit a p {
    /*font-family:'roboto';*/
    
}
header.back-office h1 {
    /*font-family:'lexend-deca';*/
    
}

header.back-office h1 {
    color: white;
    margin: 0;
    text-align: center;
}

header.back-office .header-droit {
    display: flex;
    align-items: center;
    gap: 24px;
    margin-left: auto;
}

header.back-office .header-droit a {
    color: white;
    display: flex;
    align-items: center;
    gap: 8px;
    text-decoration: none;
}

header.back-office .header-droit img {
    width: 40px;
    height: auto;
}


/* Inputs */

label {
    font-size: 20px;
    color: var(--input-color);
    margin-bottom: 0.5em;
    text-transform: uppercase;
    letter-spacing: 0.1em;
    transform: translate(50px, 24px);
    background-color: var(--backgroud-color);
    width: fit-content;
    padding: 0 10px;
}

input[type="text"],
input[type="email"],
input[type="password"],
input[type="number"],
input[type="tel"] {
    width: 100%;
    padding: 15px 20px;
    border: 2px solid var(--input-color);
    border-radius: 1.8em;
    font-size: 32px;
    color: var(--main-text-color);
    background-color: var(--backgroud-color);
    outline: none;
    transition: background-position 0.8s ease-out;
}
/* @supports (mix-blend-mode: darken) {
    .input-group {
        position: relative;
        mix-blend-mode: lighten;
    }
    .input-group__label {
        position: absolute;
        left: 3em;
        top: -0.28em;
        /* background: #000; 
    }
}
.input-group-label {
  padding: 0 0.5em;
  margin-bottom: 0.5em;
  text-transform: uppercase;
  font-size: 20px;
  letter-spacing: 0.1em;
  color: #A5A3A3;
  color: #A5A3A3;
  background-color: white;
  cursor: pointer;
}
.input-group-input {
  color: var(--main-text-color);
  font-size: 32px;
  border-style: none;
  outline: none;
  height: calc(1em + 1.6em + 0.5em);
  width: 100%;
  padding: 0.8em 1em;
  border: 2px solid #A5A3A3;
  /* background-image: linear-gradient(#000, #000), linear-gradient(120deg, #A5A3A3 100%); 
  background-origin: border-box;
  background-clip: padding-box, border-box;
  border-radius: 1.8em;
  background-size: 200% 100%;
  transition: background-position 0.8s ease-out;
}
.input-group-input:hover {
  background-position: 100% 0;
} */

/* Back-Office */

/* Informations Personnelles */

main.info-compte {
    display: flex;
    flex-direction: column;
    /* align-items: center; */
    justify-content: center;
    padding: 20px;
}

main.info-compte div.info-compte-container {
    display: flex;
    flex-direction: row;
    align-items: center;
    /* justify-content: center; */
    /* margin-bottom: 20px; */
}

main.info-compte div.info-compte-container > div, div.info-compte-container + div {
    display: flex;
    flex-direction: column;
    justify-content: center;
    flex-grow: 1;
    margin: 0 3vw;
}

/* photo de profil */
main.info-compte img {
    width : 306px;
    height : 306px;
    
    border-radius: 50%;
    margin-left: 3vw;
    /* margin-top: 3vw; */
}

/* modification du mot de passe */
a.modification-mdp {
    text-decoration: underline;
    color: var(--main-text-color);
    font-size: 20px;
    font-weight: bold;
    margin-top: 3vh;
    width: fit-content;
}

/* icone de modification du mot de passe */
a.modification-mdp::after {
    display: inline-block;
    content: url('/images/icons/edit.svg');
    margin-left: 10px;
    width: 10px;
    height: 10px;
    transform: translateY(8px);
}

/* sauvegarder les modifications */
div#sauvegarder {
    position: fixed;
    bottom: -100px;
    left: 0;
    right: 0;
    background-color: var(--main-color);
    color: white;
    font-size: 24px;

    display: flex;
    flex-direction: row;
    justify-content: flex-start;
    align-items: center;
    margin-top: 3vh;

    padding: 0vh 1vw;

    transition: bottom 0.3s ease-in-out;
    z-index: 1000;
}

div#sauvegarder > div {
    display: flex;
    justify-content: center;
    align-items: center;
    margin-left: auto;
}

div#sauvegarder button {
    background-color: white;
    color: var(--main-color);
    font-size: 20px;

    margin: 0 1vw;
    border: none;
    border-radius: 20px;
    padding: 1vh 2vw;
}