.btn-primary{

}

.btn-secondary{

}
input{

}

.m-2{
    margin: 2em;
}
.m-3{
    margin: 3em;
}
.m-4{
    margin: 4em;
}
.alert-success{
    color: green;
}
.alert-info{
    color: orange;
}
.alert-error{
    color: red;
}

header{

}


footer{

}

/*Mobile*/

@media screen {
    
}

/*tablette*/

@media screen {
    
}

/*desktop*/

@media screen {
    
}

