/* Header */
header.front-office{
    display: flex;
    align-items: center;
    justify-content: space-between;
    box-shadow: 0 2px 5px rgba(0, 0, 0, 0.1);
    padding: 2vh;
}

header.front-office > nav > ul{
    display: flex;
    list-style: none;
}

header.front-office > nav > ul > li{
    padding: 0 10vh;
    color: var(--main-text-color);
    font-size: 25px;
    font-family: 'lexenDeca', sans-serif;
}

header.front-office > div > img, header.front-office > a > svg:last-child{
    height: 10vh;
    width: auto;
    color: var(--main-color);
}


header.front-office > div > svg, header.front-office > div > h1{
    display: none;
}

a{
    text-decoration: none;
    color: var(--main-text-color);
}

a:hover{
    text-decoration: underline;
}


@media (max-width: 728px) {

    header.front-office h1{
        font-size: 20px;
    }

    header.front-office{
        padding: 2vh ;
    }

    header.front-office > div > h1{
        display: contents;
        color: var(--main-text-color);
        font-family: 'lexenDeca', sans-serif;
        font-weight: normal;
    }

    header.front-office > nav {
        display: none;
    }

    header.front-office > nav.active {
        display: flex;
        position: absolute;
        background-color: white;
        top: 10vh;
        left: 0;
        width: 100%;
    }

    header.front-office > nav.active > ul{
        display: flex;
        flex-direction: column;
        list-style: none;
        padding: 0;
        margin: 0;
        width: 100%;
    }

    header.front-office > nav.active > ul > li{
        padding: 2vh;
        text-align: left;
        color: var(--main-text-color);
        font-size: 15px;
        font-family: 'lexenDeca', sans-serif;
        border-top: 1px solid lightgray;
    }

    header.front-office > div:first-child {
        display: flex;
        align-items: center;
    }

    /* le burger */
    header.front-office > div > svg:first-child {
        display: block;
        height: 3vh;
        width: auto;
    }

    /*le logo*/
    header.front-office > div > img{
        height: 5vh;
        width: auto;
    }

    /*l'icone de profil*/
    header.front-office > a > svg:last-child{
        height: 4vh;
        width: auto;
        color: var(--main-color);
    }
}