:root {
    --input-color: #A5A3A3;
}

.label-input {
    font-size: 20px;
    color: var(--input-color);
    margin-bottom: 0.5em;
    text-transform: uppercase;
    letter-spacing: 0.1em;
    transform: translate(20px, 24px);
    background-color: var(--backgroud-color);
    width: fit-content;
    padding: 0 10px;
}

label + input[type="text"],
label + input[type="email"],
label + input[type="password"],
label + input[type="number"],
label + input[type="tel"]{
    padding: 5px 10px;
    border: 2px solid var(--input-color);
    border-radius: 1.8em;
    font-size: 32px;
    color: var(--main-text-color);
    background-color: var(--backgroud-color);
    outline: none;
    transition: background-position 0.8s ease-out;
}

.checkbox-container{
    display: flex;
    flex-direction: row;
    align-items: center;
    margin: 0 0 0 30px;
}

.checkbox-container > input{
    height: 25px;
    width: 25px;
}

.checkbox-container > label{
    transform: none;
}